<!DOCTYPE html>
<html>
  <head>
    <title>メンテチェッカー</title>
  </head>
  <body>
    <div class="container">
      <% @checkers.each do |c| %>
        <%= c.content %>
      <% end %>
    </div>
  </body>
</html>